
#swip:hover{
    background-color: #847c85;
    color: white;
}
#swip span{
   font-size: 17px;
   margin-left: 7px;
    font-style: italic;
}
#swip h2{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    color: rgb(247, 68, 68);
}
#cont{
    display: flex;
    flex-wrap: wrap;
}
#popu{
    background-color: red;
}